.container {
    max-width: 800px;
    margin: 20px auto;
}

#map-canvas {
    height: 100%;
}

#dvMap {
    margin-top: 15px;
}

.city-info {
    margin-bottom: 15px;
}

#processed-data {
    margin-top: 30px;
}